<h2>{{h2Name}}</h2>

<p>
  <form id="form">
  <table>
  <tr>
    <td><label for="name">Nickname</label></td>
    <td><input type="text" name="name" value="{{name}}" size="20" maxlength="255" id="name"/>{{> nicknameError}}</td>
  </tr><tr>
    <td><label for="server">IRC Server</label></td>
    <td><input type="text" name="server" value="{{server}}" size="20" maxlength="255" id="server"/>{{> serverError}}</td>
  </tr><tr>
    <td><label for="channel">Channel</label></td>
    <td><input type="text" name="channel" value="{{channel}}" size="20" maxlength="255" id="channel"/>{{> channelError}}</td>
  </tr>
  <tr>
    <td colspan="2"><input type="submit" name="submit" value="Submit" readonly="readonly" id="submit" /></td>
  </tr>
  </table>
  </form>

</p>